.cartelera_title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}

.peliculas_title{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}
.peliculas_container{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-gap: 1rem;
}
.card{
    max-width: 250px;
}

.div-negro{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
}

.titulo-card{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
    
}

.play{
    font-size: 40px;
    color: white;
}

.genero-card{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin: 0 auto;
}

.fila2{
    display: flex;
    flex-direction: row;
    align-items: center;
}