.boleteria_title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    text-align: center;
}

.venta_title{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    text-align: center;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #000000 !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #000000 !important;
}